@font-face {
    font-family:nb ;
    src: url(./NBInternationalProBoo.woff2);
}
@font-face{
    font-family: rejoy;
    src: url(./Rejouice-Headline.woff2);
}
*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "NBInternationalproBoo";
}
html,body{
    height: 100%;
    width:100%;
    /* background-color: aquamarine; */
}
body{
    background-color: #FAF8F3;
    
}
#main{

}
#page1{
    height: 100vh;
    width:100%;
    /* background-color: red; */
    position: relative;
}
#cursor{
    height: 15vh;
    width: 15vh;
    background-color:#df3b05;
    border-radius:50% ;
    /* align-items: center; */
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor h5{
    font-family: rejoy;
    font-size: 20px;
}
#page1 video{
height: 100%;
width:100% ;
object-fit: cover;
position:absolute;
}
#page1content{
    height: 100%;
    width:100% ;
    /* background-color: aqua; */
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* padding-bottom:5vw ; */
    
}
nav{
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw 0vw ;
    width: 100%;
    /* background-color: brown; */
}
nav h3{
    font-family: nb;
    font-size: 1vw;
    font-weight: 100;
  text-transform: uppercase;
}
nav h4{
    font-family: nb;
    font-size: 2vw;
    font-weight:100 ;
    text-transform: uppercase;
}
#page1content h1{
    font-family:rejoy;
    font-size: 25vw;
    font-weight: 100;
    
    
}
#page1content h1 span{
    font-family:rejoy;
   
    
}
#page2{
    height: 100vh;
    width: 100%;
    background-color:#EDECE7 ;
    position: relative;
    padding: 5vw 2.8vw;
}
#page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
    font-family:nb;
}
#page2-top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;

}
#page2-top h4{
    font-size: 1.7vw;
    font-weight: 500;
}
.elem{
    overflow: hidden;
}
.elem h1{
    font-size: 4.2vw;
    font-weight: 500;
}
#page3{
    height: 100vh;
    width:100%;
    position: relative;
    padding: 3vw;
}
#page3top{
    /* background-color: aqua; */
    text-align: center;

}
#page3top h4{
    margin-bottom: 1vw;
    font-size:1.5vw ;
    font-weight: 500;
}
#page3top h4 span{
    font-size: .9vw;
    color: white;
    background-color: #000;
    padding: 4px 10px;
    border-radius: 10px;
}
#page3top h2{
font-size: 9vw;
font-weight: 500;
font-family: rejoy;
}
#page3element{
    height: 75vh;
    margin-top: 2vw;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
   
    justify-content: space-between
   
}
#page3element .box{
    box-sizing: border-box;
    height: 100%;
    width:33% ;
    /* background-color: blue; */

    position: relative;
}
#page3element .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
 #page3element .box img{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit: cover;
    transition: all linear 1s ;
     object-position: center; 
/} 
#page3element .box:hover img{ 
    opacity: 0;
} 
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    padding: 4vw 0;

}
#page4 h1{
    font-size: 10vh;
    font-family: rejoy;
    font-weight: 100;
    border-bottom-style:1px solid #191616;
    
}
/* #page4 video{ 
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin-top: 35%;
    box-sizing: border-box;
    align-items: center;
    padding: 2vw 2vw;
} */